:root {
  --clr-pri: #253237;
  --clr-sec: #5c6b73;
  --clr-ter: #e0fbfc;

  --shadow-pri: 2px 2px 3px 1px black;
  --shadow-sec: 1px 1px 3px 1px black;

}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  background-color: var(--clr-pri);
  color: var(--clr-ter);
  font-family: 'Roboto', sans-serif;
}

main {
  border: .25rem solid var(--clr-ter);
  border-radius: 1rem;
  box-shadow: var(--shadow-pri);
  

  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 20rem;

}

header {
  padding: .5rem;
  background-color: var(--clr-sec);
  border-radius: .5rem;
  text-align: center;
}

legend,
label,
h1 {
  text-transform: capitalize;
}

legend {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.investment-calculator-data {
  display: grid;
  gap: 2rem;
}

.investment-calculator-data fieldset {
  display: grid;
  grid-template-columns: 5fr 6fr;
  align-items: center;
  gap: 1.5rem;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  padding: .25rem;
  text-align: center;
}

.investment-calculator-data .input-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  border: 2px solid var(--clr-ter);
  border-radius: .5rem;
}

input,
select {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: inherit;
  background-color: inherit;
  text-align: center;
  color: var(--clr-ter);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alert {
  position: absolute;
  top: 100%;
  width: 100%;
  color: red;
  text-align: right;
  display: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: .5rem;
  padding: .5rem;

  background-color: var(--clr-sec);
  border-radius: .5rem;
  border: none;
  box-shadow: var(--shadow-sec);

  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--clr-ter);
}

.investment-calculator-results {
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
  display: none;
}